<h2 align="center">Choose Assignment</h2>
<br />
<table align="center">
    <tr>
        <td>
            <button class="btn btn-success" ng-click="go('/patientList')">Assignment 1</button>
        </td>
        <td width="50px"></td>
        <td>
            <button class="btn btn-success" ng-click="go('/login')">Assignment 2</button>
        </td>
        <td width="50px"></td>
        <td>
            <button class="btn btn-success" ng-click="go('/drlogin')">Assignment 3</button>
        </td>
    </tr>
</table>